.questionContainer {
  //height: 100%;
  //overflow: auto;
  padding: 0 12px;
}
.marginVertical {
  margin: 12px 0;
}
.option {
  display: block;
  line-height: 2.5;
}
.label {
  font-weight: 500;
  display: inline-block;
}
.marginBottom {
  margin-bottom: 0.25rem;
}

.textAreaAnswer {
  border: 0
}

.headingWithExtras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.25rem;
}
.screenshotBtnContainer {
  margin-top: 8px;
  width: 100%;
  justify-content: flex-end;
}
.submitBtnContainer {
  text-align: center;
}


.questionNavContainer {
  text-align: right;
}


// for screenshots
.attachScreenshotBtn {
  text-align: center;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.imageContainer {
  margin: 0.5rem 0;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}
.image {
  width: 100%;
}
