.cardContainer {
  position: relative;
  width: 100%;
}
.delIcon {
  position: absolute;
  right: 0;
  bottom: 0;
  //transform: translate(50%, -50%);
}
.cardDescription {
  margin-right: 16px;
}
.card {
  //width: 150px;
}
.img {
  //width: 150px;
  //height: 100px;
}
